{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}


<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal product-name-area ">{{object.name}}</h5>
                    <img src="{{ product.images.url }}" alt="{{ product.name }}" style="width: 250px; height: 120px;">
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"></h1>
                    <ul class="list-unstyled mt-3 mb-5 text-start m-3">
                        <li class="mb-5"> Категория: {{object.category}}</li>
                        <li class="mb-5"> Описание: {{object.description}}</li>
                        <li class="mb-5"> Дата создания: {{object.created_at}}</li>
                        <li class="mb-5"> Дата последнего изменения: {{object.updated_at}}</li>
                        <li class="mb-5"> Ценa: {{object.price}} RUB</li>
                        <li class="mb-5"> Владелец: {{object.owner}}</li>
                        {% if product.is_published %}
                         <li class="mb-5"> Статус:опубликован</li>
                            {% if show_unpublish_button %}
                                <form action="{% url 'catalog:unpublish_product' object.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Отменить публикацию</button>
                                </form>
                            {% endif %}
                        {% else %}
                         <li class="mb-5"> Статус:не опубликован</li>
                            {% if show_publish_button %}
                                 <form action="{% url 'catalog:publish_product' object.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                    <button type="submit" class="btn btn-warning">Опубликовать</button>
                                 </form>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <a class="btn btn-primary" href="{% url 'catalog:home' %}" role="button">Купить</a>
                    <a class="btn btn-primary" href="{% url 'catalog:home' %}" role="button">Назад</a>
                    <p>
                        {% if can_delete_product %}
                            <form action="{% url 'catalog:product_delete' object.pk %}" method="post" style="display:inline; margin-left: 10px;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Удалить продукт</button>
                            </form>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}